.app-body {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

a {
  text-decoration: none;
  color: black;
}

.auth {
  height: 100vh;
  position: relative;
  flex: 1;
  max-width: 350px;
}
.auth-logoContainer {
  height: 70px;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-logo {
  object-fit: contain;
  height: 50px;
  width: 50px;
}

.auth-input {
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  position: relative;
  margin: 20px 0px;
}

.auth-input > label {
  background-color: #f5f5f5;
  padding-left: 10px;
  padding-top: 3px;
  font-weight: 200;
  font-size: 14px;
}

.auth-input > input {
  border: none;
  background-color: #f5f5f5;
  padding: 10px;
  outline-width: 0;
}

.auth-button {
  width: 100%;
  background-color: #007aff;
  color: #ffff;
  height: 30px;
}

.auth-button:hover:enabled {
  cursor: pointer;
}

.auth-button:disabled {
  opacity: 0.6;
}

.auth-bottom {
  margin-top: 20px;
  background-color: #ffff;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d3d3;
}

.auth-link {
  text-decoration: none;
  font-weight: 600;
  color: #007aff;
  padding-left: 10px;
}

.auth-error {
  margin-top: 15px;
  max-width: 100%;
  overflow-y: auto;
  text-align: center;
}

.auth-error > h3 {
  color: #ff0000;
  font-size: 16px;
}
