.socialDisplay {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  overflow-y: auto;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
}

.socialDisplay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding: 12px;
  margin-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
}

.socialDisplay-header > h1 {
  font-weight: 600;
  font-size: 18px;
}

.socialDisplay-header > button {
  font-size: 24px;
  border: 0;
  background-color: #ffffff;
  font-weight: 300;
}

.socialDisplay-header > button:hover {
  cursor: pointer;
}

.socialDisplay-body {
  padding: 0px 12px;
}

.socialDisplay-button > button:hover {
  cursor: pointer;
}

.socialDisplay-button > button {
  border-radius: 4px;
  width: 80px;
  height: 28px;
  font-size: 14px;
}

.socialDisplay-followed > button {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.socialDisplay-notFollowed > button {
  color: #ffffff;
  background-color: #007aff;
  border: none;
}
