.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
}

/* for home posts, the header isn't as tall  */
.postHeader-home {
  height: 60px;
}

.postHeader-left {
  display: flex;
  align-items: center;
}

.postHeader-left > a > .MuiAvatar-root {
  height: 44px;
  width: 44px;
}

.postHeader-left > a {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
}

.postHeader-left > a:hover {
  text-decoration: underline;
}
