.header {
  width: 100vw;
  display: flex;
  border-bottom: 1px solid #ceced2;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
  justify-content: center;
}

.header-container {
  max-width: 935px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logoContainer {
  height: 50px;
  flex: 1;
}

.header-logo {
  object-fit: contain;
  height: 40px;
}

.header-searchContainer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}

.header-search {
  display: flex;
  align-items: center;
  padding: 4px;
  height: 28px;
  border: 1px solid #ceced2;
  border-radius: 100px;
}

.header-searchResults {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  max-height: 360px;
  width: inherit;
  background-color: #ffffff;
  overflow-y: auto;
}

.header-noResults {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.header-search > input {
  border: none;
  padding: 4px;
  outline: none;
}

.header-iconsContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  position: relative;
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}

.header-icon > .MuiSvgIcon-root {
  width: 36px;
  height: 36px;
}

.active > .MuiSvgIcon-root {
  color: rgb(255, 0, 200);
}

.activeAvatar {
  border: 2px solid rgb(255, 0, 200);
}

.header-dropDownMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 50px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  height: 160px;
  max-width: 230px;
  width: 100%;
  background-color: #ffffff;
}

.header-dropDownMenu > h4 {
  padding: 8px 10px;
  cursor: pointer;
  height: 100%;
}

.header-dropDownMenu > h4:hover,
.header-dropDownMenu > a:hover {
  background-color: #efeff4;
}

.header-dropDownItem {
  display: flex;
  width: 100%;
  align-items: center;
}

.header-dropDownItem > .MuiSvgIcon-root {
  padding: 8px 10px;
}
